[user]
	name = Nathan Simpson
	email = hello@nathansimpson.design

[alias]
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	undo = reset --soft HEAD~1

[push]
	autoSetupRemote = true
	default = simple # Set the default behavior of 'git push' to 'simple' (push the current branch to the remote branch of the same name)

[branch]
	sort = -committerdate

[fetch]
	prune = true # Prune remote tracking branches that no longer exist on the remote
