# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$python\
$character"""

right_format = """$time"""

palette = "dracula"

# Define Dracula color palette
[palettes.dracula]
background = "#282a36"
current_line = "#44475a"
foreground = "#f8f8f2"
comment = "#6272a4"
cyan = "#8be9fd"
green = "#50fa7b"
orange = "#ffb86c"
pink = "#ff79c6"
purple = "#bd93f9"
red = "#ff5555"
yellow = "#f1fa8c"

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

# Move the directory to the second line
format = '$all$directory$character'

[nodejs]
disabled = true


[character]
error_symbol = "[>](bold red)"
success_symbol = "[>](bold)"

[cmd_duration]
style = "foreground"

[directory]
style = "bold purple"

[git_branch]
style = "comment"
format = '[$branch(:$remote_branch)]($style) '

[git_status]
format = '([$all_status$ahead_behind]($style) )'
style = "cyan"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "pink"

[hostname]
style = "bold purple"

[time]
disabled = false
format = "[$time]($style) "
style = "comment"

[username]
format = "[$user]($style) on "
style_user = "bold cyan"
